@model Project_Assesment.Models.UserClienSite

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MyBootstrapLayout.cshtml";
}

<div class="login">
    <h1>Login</h1>

  
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div id="Projects"></div>
               
        @Html.TextBoxFor(m => m.Username)
        @Html.ValidationMessageFor(m => m.Username)
           
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)

        <div class="col-md-12">
            <div class="col-md-5">
                @*@Html.LabelFor(m => m.RememberMe)*@
            </div>
            <div class="col-md-2">
                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox" })
            </div>
            <div class="col-md-5">
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block btn-large">login</button>
    
</div>
 
    <script type="text/javascript">
        $(document).ready(function () {
            var Projects = $('#Projects');

            $('#btn').click(function () {
                // Get the username & password from textboxes
                var username = $('#Username').val();
                var password = $('#Password').val();

                $.ajax({
                    type: 'GET',
                   
                    url: 'http://userservice.staging.tangentmicroservices.com:80/api-token-auth/',
                    dataType: 'json',
                    
                    headers: {
                        'Authorization': 'username=' + username + '&password=' + password
                    },
                    success: function (data) {

                       
                        $window.location.href("Project/Index?Token=" + data.token);
                         
                    },
                    complete: function (jqXHR) {
                        if (jqXHR.status == '401') {
                            Projects.empty();
                            Projects.append('<li style="color:red">'
                                + jqXHR.status + ' : ' + jqXHR.statusText + '</li>')
                        }
                    }
                });
            });

            $('#btnClear').click(function () {
                Projects.empty();
            });
        });
    </script>
